<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tram's Homework 9b 2</title>
    <meta charset="utf-8">
    <title>Visited countries</title>
</head>

<body>
    <h1><a href="../index.html">Link to Start Page</a></h1>
    <h2>Tram's Countries API Call</h2>
    <input type="button" value="Call API">
    <h2>Open console</h2>
    <script src="../public/ex2.js"></script>
</body>

</html>